<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.penfold.worker</string>

    <key>ProgramArguments</key>
    <array>
        <string>/opt/penfold/bin/penfold-worker-start.sh</string>
    </array>

    <key>UserName</key>
    <string>james</string>

    <key>GroupName</key>
    <string>staff</string>

    <key>WorkingDirectory</key>
    <string>/opt/penfold</string>

    <key>RunAtLoad</key>
    <true/>

    <key>KeepAlive</key>
    <true/>

    <key>ExitTimeOut</key>
    <integer>30</integer>

    <key>ThrottleInterval</key>
    <integer>5</integer>

    <key>StandardOutPath</key>
    <string>/var/log/penfold/worker.log</string>

    <key>StandardErrorPath</key>
    <string>/var/log/penfold/worker.error.log</string>

    <key>HardResourceLimits</key>
    <dict>
        <key>NumberOfFiles</key>
        <integer>65536</integer>
    </dict>

    <key>SoftResourceLimits</key>
    <dict>
        <key>NumberOfFiles</key>
        <integer>65536</integer>
    </dict>
</dict>
</plist>
